.pdf-background {
    background-image: url('/static/images/resume.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pdf-container {
    position: relative;
    width: 100%; /* Full width of its column */
    overflow: hidden;
    padding-top: 52.25%; /* Adjust this to maintain the aspect ratio */
    background-color: white; /* Background color */
}